@charset "UTF-8"



.form-control:hover{
    background-color: #ffd9a8;
    transition: 0.5s;
}
.form-control:focus-visible{
    background-color: #ffe2ed;
    transition: 0.5s;
}

.text{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    letter-spacing: 1.4px;
}
img{
    width: 50%;
    margin-bottom: 20px;
}

.container{
    display:flex;
    justify-content:center;

}

.logo{
    width: 62px;
}

.nav-item{
    width:100px;
    margin-left: 90px;
}


.barra{
    background-color: #ffd9a8;
    padding: 20px;
  
}


article > p{
  
    text-align: center;
    color: brown;
    padding-left: 30px;
    letter-spacing: 0.2px;
}

@media screen and  (max-width:700px) and (min-height:400px) {
 article > p {
    font-size: 80%;
    display:none;

 }   

 img{
    display:;
    height:50vh;
    width: 100vw;
    padding-bottom:40px ;
 }
}